/* Tweak navbar brand link to be super sleek
   -------------------------------------------------- */
@media screen and (max-width: 600px) {
  .navbar-fixed-top .brand {
    padding-right: 0px!important;
    margin-right: 5px!important;
  }
}
.navbar-fixed-top .brand {
    padding-right: 200px;
    padding-left: 0;
    /* margin-left: 20px; */
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
    text-decoration: none;
}

.padding60 {
    padding-top: 60px;
}

.padding40 {
    padding-top: 40px;
}

.padding30 {
    padding-top: 30px;
}

.padding20 {
    padding-top: 20px;
}

div .bavatar {
    padding: 8px 10px 10px 9px;
    position: relative;
    top: -40px;
    float: right;
}

div.bavatar > a > img {
    border-radius: 5px;
    border: black 1px solid;
    background-color: #fff;
}

p.atext {
    position: relative;
    top: 10px;
    left: 0px;
}

a.tagblack {
    color: #ffffff!important;
    text-shadow: none!important;
}

a.tagblack:hover {
    text-decoration: none!important;
}

body {
    background-color: {color:Content Background};
}

div.post {
    min-height:150px;
    height:auto !important;
    height:150px; 
}

a.source_url {
    position:relative;
    float:right;
    top:130px;
    right: -140px;
    max-width: 128px;
}

div.title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}

.btn-navbar-left {
    float:left!important;
}

.tags {
    max-width: 400px;
    display:block!important;
}

img.favatar {
    margin: 2px 2px 2px 2px;
    padding-bottom: 2px;
}

div#following {
    padding-top: 10px;
    padding-bottom: 10px;
}

div#following-avatars {
    padding-top: 3px;
    padding-left: 15px;
}

ul#likes {
    list-style-type: none;
    padding-top: 3px;
    padding-left: 15px;
    margin: 0 0 0 0;
}

li.like_post {
    padding: 0 0 20px 0;
}

li.like_post img {
    max-width: 100%;
}

li.like_post blockquote {
    margin: 0;
    padding: 0 0 0 10px;
    border-left: 1px solid #eee;
}

li.like_post ol,
li.like_post ul {
    margin: 0 0 0 15px;
    padding: 0;
}

li.like_post .like_link a {
    font-weight: bold;
}

li.like_post .like_title {
    font-weight: bold;
}

li.like_post .post_info_bottom {
    margin: 10px 0 0 0;
}

div.like_caption {
    display: none!important;
}

p.resume_image {
    padding-right: 20px;
    float: left;
}

div.large_tumbnail {
    min-height: 620px;   
}

div.large_tumbnail_f {
    min-height: 520px;   
}

.tmblr-iframe--unified-controls {
    z-index: 2000 !important;
    margin-top: -7px !important;
}
